@model IEnumerable<JJLab2.Models.Products>

@{
    ViewBag.Title = "ListProducts";
}

<h2>ListProducts</h2>

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<p>Thanks for entering a new product. It'll be reviewed and then added to our database. We promise.</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProdID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdQuantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProdID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdQuantity)
        </td>
       
    </tr>
}

</table>
